# Prisma
.env
.env.local
.vscode
.DS_Store

# Generated Prisma client
/node_modules


# Ignore all migration files in migration directory except for README.md
/prisma/migrations/*
!/prisma/migrations/README.md

# Ignore database backups created with prisma db export
*.tar.gz
*.zip
*.backup
*.sql
test

# Next.js
/.next/
/out/

# Next.js development server cache
/.next-server/

# Next.js Image Component cache
/public/_next/

# Next.js telemetry
/next-telemetry.json
